* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background: linear-gradient(to top left, #000d25, #0e2a00);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: linear-gradient(to top right, rgba(0, 19, 53, 0.305), rgba(15, 44, 0, 0.273));
  border-radius: 8px;
  border: none;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #fafafa;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #001335;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: rgb(0, 233, 144);
}

.subscribe-button {
  background-color: #fafafa;
  color: #333;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}

.subscribe-button:hover {
  background-color: #004c42;
  color: #fafafa;
}

#subscription-message {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: none;
  font-size: 0.9rem;
  text-align: center;
}

#subscription-message.success {
  background-color: #d4edda;
  color: #155724;
}

#subscription-message.error {
  background-color: #f8d7da;
  color: #721c24;
}
